.root {
    min-width: 192px;
    min-height: 216px;
    width: 15%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    border-left-color: rgb(42, 42, 102);
    border-right-color: rgb(42, 42, 102);
    border-top-color: rgb(83, 86, 204);
    border-bottom-color: rgb(42, 42, 102);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.title {
    -unity-font-definition: url('/Packages/uitkforksp2.controls/Assets/Theme/Fonts/LEDCounter7/led_counter-7 SDF.asset');
    left: 0;
    position: absolute;
    min-height: 20px;
    height: 20px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    -unity-text-align: middle-left;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    -unity-font-definition: url('/Packages/uitkforksp2.controls/Assets/Theme/Fonts/LEDCounter7/led_counter-7 SDF.asset');
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    padding-left: 1px;
    padding-right: 0;
    padding-top: 1px;
    padding-bottom: 0;
    -unity-text-align: middle-center;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: rgb(128, 134, 153);
    background-color: rgb(0, 0, 0);
    width: 15px;
    height: 15px;
}

.close-button:hover {
    position: absolute;
    top: 0;
    right: 0;
    -unity-font-definition: url('/Packages/uitkforksp2.controls/Assets/Theme/Fonts/LEDCounter7/led_counter-7 SDF.asset');
    border-left-color: rgb(209, 22, 13);
    border-right-color: rgb(209, 22, 13);
    border-top-color: rgb(209, 22, 13);
    border-bottom-color: rgb(209, 22, 13);
    color: rgb(209, 22, 13);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.screen {
    width: 100%;
    height: 89%;
    border-left-color: rgb(67, 70, 81);
    border-right-color: rgb(67, 70, 81);
    border-top-color: rgb(67, 70, 81);
    border-bottom-color: rgb(67, 70, 81);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-top: 5%;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-bottom: 5px;
}

.rel-info {
}

.rel-text {
    font-size: 12px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    width: 45%;
}
