.root {
    min-width: 192px;
    min-height: 231px;
    width: 15%;
    height: 32%;
    background-color: rgb(0, 0, 0);
    border-left-color: rgb(42, 42, 102);
    border-right-color: rgb(42, 42, 102);
    border-top-color: rgb(83, 86, 204);
    border-bottom-color: rgb(42, 42, 102);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.title {
    -unity-font-definition: url('/Packages/uitkforksp2.controls/Assets/Theme/Fonts/LEDCounter7/led_counter-7 SDF.asset');
    left: 0;
    position: absolute;
    min-height: 20px;
    height: 20px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    -unity-text-align: middle-left;
    top: -1px;
    color: rgb(192, 199, 213);
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    -unity-font-definition: url('/Packages/uitkforksp2.controls/Assets/Theme/Fonts/LEDCounter7/led_counter-7 SDF.asset');
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    padding-left: 1px;
    padding-right: 0;
    padding-top: 1px;
    padding-bottom: 0;
    -unity-text-align: middle-center;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: rgb(128, 134, 153);
    background-color: rgb(0, 0, 0);
    width: 15px;
    height: 15px;
}

.close-button:hover {
    position: absolute;
    top: 0;
    right: 0;
    -unity-font-definition: url('/Packages/uitkforksp2.controls/Assets/Theme/Fonts/LEDCounter7/led_counter-7 SDF.asset');
    border-left-color: rgb(209, 22, 13);
    border-right-color: rgb(209, 22, 13);
    border-top-color: rgb(209, 22, 13);
    border-bottom-color: rgb(209, 22, 13);
    color: rgb(209, 22, 13);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.screen {
    width: 100%;
    height: 83%;
    border-left-color: rgb(67, 70, 81);
    border-right-color: rgb(67, 70, 81);
    border-top-color: rgb(67, 70, 81);
    border-bottom-color: rgb(67, 70, 81);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-top: 5%;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.rel-info {
    flex-wrap: wrap;
}

.rel-text {
    font-size: 12px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    width: 45%;
}

.crosshair-vertical {
    width: 1px;
    height: 100%;
    background-color: rgb(67, 70, 81);
}

.crosshair-horizontal {
    background-color: rgb(67, 70, 81);
    width: 100%;
    height: 1px;
}

.crosshair-circle {
    border-left-color: rgb(67, 70, 81);
    border-right-color: rgb(67, 70, 81);
    border-top-color: rgb(67, 70, 81);
    border-bottom-color: rgb(67, 70, 81);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.tangent-text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -unity-font-definition: url('/Packages/uitkforksp2.controls/Assets/Theme/Fonts/LEDCounter7/led_counter-7 SDF.asset');
    font-size: 10px;
    color: rgb(0, 255, 102);
}

.angle-text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -unity-font-definition: url('/Packages/uitkforksp2.controls/Assets/Theme/Fonts/LEDCounter7/led_counter-7 SDF.asset');
    color: rgb(204, 171, 0);
    font-size: 10px;
}

.cross-vert {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 50%;
}

.cross-hori {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
}

.angle-cross {
    width: 0;
    height: 0;
    justify-content: center;
    align-items: center;
}

.angle-hori {
    width: 60px;
    height: 1px;
    position: absolute;
    top: 50%;
}

.angle-vert {
    width: 1px;
    height: 60px;
    position: absolute;
    left: 50%;
}

.rotation-marker {
    width: 0;
    height: 0;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
}

.rotation-marker-sprite {
    background-image: url('/Assets/Images/rotation_marker.png');
    width: 15px;
    height: 15px;
    -unity-background-scale-mode: scale-to-fit;
    position: absolute;
}

.docking-mode-button {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
}

.no-target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

.no-target-text {
    -unity-text-align: upper-center;
    color: rgb(255, 66, 72);
    -unity-font-definition: url('/Packages/uitkforksp2.controls/Assets/Theme/Fonts/LEDCounter7/led_counter-7 SDF.asset');
}

.bg-green {
    background-color: rgb(0, 255, 102);
    -unity-background-image-tint-color: rgb(0, 255, 102);
}

.bg-red {
    background-color: rgb(209, 22, 13);
    -unity-background-image-tint-color: rgb(209, 22, 13);
}

.bg-gold {
    background-color: rgb(204, 171, 0);
    -unity-background-image-tint-color: rgb(204, 171, 0);
}

.tint-green {
    -unity-background-image-tint-color: rgb(0, 255, 102);
}

.tint-red {
    -unity-background-image-tint-color: rgb(209, 22, 13);
}
